<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JavaServlet</display-name>
	<welcome-file-list>
		<!-- <welcome-file>home</welcome-file> -->
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DanhMucServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.DanhMucServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DanhMucServlet</servlet-name>
		<url-pattern>/danhmuc</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TuyChonServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.TuyChonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TuyChonServlet</servlet-name>
		<url-pattern>/tuychon</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SanPhamServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.SanPhamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SanPhamServlet</servlet-name>
		<url-pattern>/sanpham</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>KhachHangServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.KhachHangServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KhachHangServlet</servlet-name>
		<url-pattern>/khachhang</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NhanVienServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.NhanVienServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NhanVienServlet</servlet-name>
		<url-pattern>/nhanvien</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MatKhauServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.MatKhauServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MatKhauServlet</servlet-name>
		<url-pattern>/matkhau</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LienHeServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.LienHeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LienHeServlet</servlet-name>
		<url-pattern>/lienhe</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>KetThucServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.KetThucServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KetThucServlet</servlet-name>
		<url-pattern>/ketthuc</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MauInServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.MauInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MauInServlet</servlet-name>
		<url-pattern>/mauin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MayInServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.MayInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MayInServlet</servlet-name>
		<url-pattern>/mayin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SoDoServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.SoDoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SoDoServlet</servlet-name>
		<url-pattern>/sodo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DatBanServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.DatBanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DatBanServlet</servlet-name>
		<url-pattern>/datban</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HoaDonServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.HoaDonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HoaDonServlet</servlet-name>
		<url-pattern>/hoadon</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DoanhThuServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.DoanhThuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoanhThuServlet</servlet-name>
		<url-pattern>/doanhthu</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ThuChiServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.ThuChiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThuChiServlet</servlet-name>
		<url-pattern>/thuchi</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PhieuThuServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.PhieuThuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhieuThuServlet</servlet-name>
		<url-pattern>/phieuthu</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PhieuChiServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.PhieuChiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhieuChiServlet</servlet-name>
		<url-pattern>/phieuchi</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChungTuServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.ChungTuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChungTuServlet</servlet-name>
		<url-pattern>/chungtu</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SoQuyServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.SoQuyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SoQuyServlet</servlet-name>
		<url-pattern>/soquy</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TinhToanServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.TinhToanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TinhToanServlet</servlet-name>
		<url-pattern>/tinhtoan</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CanDoiKhoServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.CanDoiKhoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CanDoiKhoServlet</servlet-name>
		<url-pattern>/candoikho</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HieuQuaServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.HieuQuaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HieuQuaServlet</servlet-name>
		<url-pattern>/hieuqua</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BaoTriServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.BaoTriServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BaoTriServlet</servlet-name>
		<url-pattern>/baotri</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GiaiNenServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.GiaiNenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GiaiNenServlet</servlet-name>
		<url-pattern>/giainen</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SoDoAddServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.SoDoAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SoDoAddServlet</servlet-name>
		<url-pattern>/sodo/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SoDoEditServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.SoDoEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SoDoEditServlet</servlet-name>
		<url-pattern>/sodo/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SoDoDeleteServlet</servlet-name>
		<servlet-class>ft.edu.vn.cafes.servlet.SoDoDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SoDoDeleteServlet</servlet-name>
		<url-pattern>/sodo/delete</url-pattern>
	</servlet-mapping>
</web-app>